*{
    list-style: none;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.top-bar {
    padding-top: 10px;
}
.nest-top-bar {
    /* margin: 0px 150px;
    padding: 0px 15px; */
    width: 77%;
    margin-left: auto;
    margin-right: auto;
}
.nest2-top-bar {
    display: flex;
    align-items: center;
}
.hf-logo {
    width: 140px;
    height: 27.96;
    padding-top: 4px;
}
.hf-productnav__menu-text {
    border: 1px solid rgb(255 58 58 / 20%);
    border-bottom: none;
    background: #FFECEC;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 17px;
    width: 136.92px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px inter, sans-series;
    font-weight: 500;
    padding: 10px 26px 10px;
    gap: 4px;
    align-items: baseline;
    color: #181c20;
}
.hover {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 64vw;
    height: 46px;
}
.login {
    text-align: right;
    color: grey;
}
.login-bar {
    display: flex;
    padding: 7px 10px;
    width: 57.7px;
    height: 35.5px;
    font-size: 13px;
}





a.pricing-explainer__block.volume {
    background-color: #ffeada;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom: none;
}


.second-nav {
    border-top: 1px solid rgb(255 58 58 / 20%);
    background: #ffecec;
    width: 100%;
    height: 61px;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 150;
}
.new-container {
    padding-left: 15px;
    padding-right: 52px;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}
.hf-productnav__wrap {
    display: flex;
    padding: 3px 0px;
    width: 78%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.hf-productnav__menu-list {
    display: flex;
    height: 54px;
    align-items: center;
    padding-left: 60px;
    margin: 0px;
}
@media (max-width: 1110px) {
    .hf-productnav__menu-list {
        display: none;
    }
}
@media (max-width: 768px) {
    .hf-productnav__menu-list {
        display: none;
    }
    .hf-productnav__menu-text {
        display: none;
    }

}

.hf-productnav__logo-text {
    font-weight: 300;
}
.hf-productnav__logo-wrap {
    font-size: 20px;
    display: flex;
    align-items: center;
    max-width: 199.8px;
    max-height: 41.5px;
}
.hf-productnav__link {
    width: 149.25px;
    height: 41.5px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 25px;
}
.hf-productnav__menu-link span{
     display: flex;
     align-items: baseline;
     gap: 4px;
}
.button {
    border: none;
}
.hf-productnav__btn {
    font-size: 14px;
}
.hf-productnav__menu-list-item {
    margin-right: 34px;
    max-width: 130.76px;
    max-height: 54px;
    padding: 15px;

}
.hf-productnav__btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 98.43px;
    height: 31px;
    background: #FF3A3A;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 5px;
}
.pricing-banner {
    background: url(https://assets.www.happyfox.com/v2/images/pricing-new-banner-bg-new.png) no-repeat left top;
    text-align: center;
    background-size: cover;
    width: 100%;
    height: px;
}
.container {
    width: 100%;
    padding: 0px 15px;
    display: inline-block;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 294px;
}
.col-md-12 {
    /* flex: 0 0 100%;
    max-width: 100%; */
}
.pricing-banner h1 {
    font-size: 40px;
    color: #000;
    font-weight: 501;
    margin: 80px 0 76px;
    letter-spacing: 1px;
}
.pricing-explainer {
    display: flex;
    justify-content: space-between;
    width: 46vw;
    height: 90px;
    align-items: stretch;
    min-height: 90px;

}
@media (max-width: 425px) {
    .pricing-explainer__block {
        width: 45vw;
    }
    .pricing-explainer__block h4 {
        width: 32vw;
    }
    .pricing-explainer {
        width: 93vw;
    }
    .col-md-12 {
        width: 92vw;
    }
    .hf-productnav__link {
        font-size: 18px;
    }
    .hf-productnav__btn {
        font-size: 3vw;
    }
    .pricing-banner h1 {
        font-size: 37px;
    }
}

@media (max-width: 768px) {
    .pricing-explainer {
        width: 87vw;
    }
    .pricing-explainer__block {
        width: 41vw;
    }
    .pricing-explainer__heading {
        width: 32vw;
    }
    .col-md-12 {
        width: 88vw;
    }
    .pricing-explainer__block h4 {
        width: 44vw;
    }
}
.col-md-12 {
    margin-left: auto;
    margin-right: auto;
}

.pricing-explainer__heading {
    margin: 0px;
    width: 22vw;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 24px 0px 15px;
}
.pricing-explainer__block {
    height: 90px;
    background-color: #FFFFFF;
}
.pricing-explainer__block h4 {
    font-weight: 500;
}
.pricing-explainer__block.agent {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom: none;
    border: #FF3A3A;
}



.agent-pricing__table {
    width: 100%;
}
.agent-pricing__bg-wrap {
    padding-top: 50px;
    background: #fff;
    box-shadow: 0 -8px 10px 0 RGBA(0, 0, 0, .02);
    width: 100%;
    display: flex;
    justify-content: center;
}
.pricing-comparison-wrapper {
    width: 100%;
}
.row2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    width: 83vw;
    margin-left: auto;
}
@media (max-width: 768px) {
    .row2 {
        max-width: 720px;
    }
}
.pricing-calc__tab {
    background: #f5f4f4;
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 0px 70px;
    padding: 10px;
}
@media (max-width: 768px) {
   .pricing-calc__tab {
    flex-direction: column;
  }
}
.pricing-calc__tabs {
    text-align: center;
    padding: 13.5px 10px;
    border-radius: 10px;
    outline: 0;
    width: 95%;
    height: 71px;
    background-color: #f5f4f4;
    border: none;
    font-size: 16px;
    font-weight: 300;
}
.pricing-calc__tabs:hover {
    background-color: #fff;
    border: 1px solid #c8c7c7;
}
.pricing-dollar__amount-snip {
    font-size: 12px;
}
.pricing-comparer {
    padding: 0px 15px 50px;
}
.pricing-plans {
    display: flex;
}
.mighty-box {
    width: 277.5px;
    height: 533.8px;
    padding: 0px 0px 10px;
}

