.app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media (max-width:988px) {
    .app {
      grid-template-columns: 1fr 1fr;
    }
    .card {
      width: 40.82vw;
    }
  }
  @media (max-width: 768px) {
    .app {
      grid-template-columns: 1fr;
    }
    @media (max-width: 320px) {
      .card {
        width: 74.82vw;
      }
    }
    .top-div {
      width: 100%;
    }
    .card {
      width: 100%;
    }
    .app {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .compare-plans-icon p{
    height: 116px;
    background-color: #f8f8f8;
    border-top: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
  }
  .bottom-div {
    width: 100%;
    height: 150px;
  }
  .bottom-text {
    width: 38%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
    border-radius: 16px;
    font-size: 16px;
    padding: 14px 0px 12px;
    margin-bottom: 40px;
    font-weight: 300;
    background: #f9f9f9;
    word-spacing: 2px;
  }
  @media (max-width: 425px) {
    .bottom-text {
      width: 75%;
    }
  }
  .pricing-calc__tabs.active {
    background-color: white;
    color: black;
    border: 1px solid #c8c7c7;
    font-weight: 590;
  }
  .pricing-banner-para {
    margin: 80px auto 40px;
    padding: 14px 0px 12px;
    font-size: 16px;
    display: flex;
    font-weight: 300;
    height: 74px;
    text-align: center;
    max-width: 570px;
    border-radius: 16px;
    background-color: #f9f9f9;
    padding: 10px;
  }
