.faq-container {
  background-color: white;
  width: 77%;
  margin: 70px 0px 0px;
  padding: 60px 48px;
  border-radius: 16px;
  font-family: Arial, sans-serif;
  box-shadow: 0 20px 10px 0 rgba(0, 0, 0, .08);
  }
  @media (max-width: 430px) {
    .faq-container {
      width: 1110px;
    }
    .faq-container h3 {
      font-size: 26px;
    }
  }
  .half-div {
    width: 100%;
    height: 499px;
    position: absolute;
    background: #fafafa;
    z-index: -100;
  }

  .faq-container h3 {
    text-align: center;
    margin: 10px 0px 60px;
    font-size: 32px;
    font-weight: 500;
  }

  .faq-item {
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
  }

  .arrow {
    margin-left: 10px;
  }

  .faq-answer {
    
    font-size: 16px;
    color: #666;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
  }
  .faq-answer.open {
    max-height: 100px;
  }

  .faq-box {
    margin-top:  57px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
